<br>

<div class="container">
  
  <h3>SEM Lab Reservation</h3>
  <br>
  
  <form name="form" (ngSubmit)="onFormSubmit(f)" #f="ngForm" novalidate>
    
    <app-booking [labNo]="1" (onDateSelected)="onDateSelected($event)" (onSlotSelected)="onSlotSelected($event)"></app-booking>
    
    <fieldset>
      <br>
      <span class="form-header">Sample description</span>
      <hr>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="material">Material name</label>
          <input
            [ngClass]="{'form-control':true, 'is-invalid':material.invalid && (material.dirty || material.touched)}"
            id="material" placeholder="material" name="material"
            [(ngModel)]="model.material" required #material="ngModel">
          
          <div class="invalid-feedback" *ngIf="material.invalid && (material.dirty || material.touched) ">
            <div>
              This field is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-6 form-group">
          <label for="method_preparation">Method of preparation</label>
          <input
            [ngClass]="{'form-control':true, 'is-invalid':method_preparation.invalid && (method_preparation.dirty || method_preparation.touched)}"
            id="method_preparation" placeholder="method of preparation" name="method_preparation"
            [(ngModel)]="model.method_preparation" #method_preparation="ngModel" required>
          
          <div class="invalid-feedback"
               *ngIf="method_preparation.invalid && (method_preparation.dirty || method_preparation.touched) ">
            <div>
              This field is required.
            </div>
          </div>
        </div>
      </div>
      
      
      <br>
      <span class="form-header">The nature of the sample is</span>
      <hr>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="metallic" [(ngModel)]="model.metallic">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Metallic</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="ceramic" [(ngModel)]="model.ceramic">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Ceramic</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="polymer_rubber"
                 [(ngModel)]="model.polymer_rubber">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Polymer Rubber</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="semiconductor"
                 [(ngModel)]="model.semiconductor">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Semiconductor</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="other" [(ngModel)]="model.other">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Other</span>
        </label>
      </div>
      <div class="form-group">
        <input *ngIf="model.other" class="form-control" placeholder="specify other type" name="other_value"
               [(ngModel)]="model.other_value" id="other_value" required #other_value="ngModel">
      </div>
      
      
      <br>
      <span class="form-header">Conductive coating </span>
      <hr>
      <div class="form-check form-check-inline d-block my-3">
        <label class="custom-control custom-radio">
          <input name="conductive_coating_required" type="radio" value="true" class="custom-control-input"
                 [(ngModel)]="model.conductive_coating_required">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Yes</span>
        </label>
        <label class="custom-control custom-radio">
          <input name="conductive_coating_required" type="radio" value="false" class="custom-control-input"
                 [(ngModel)]="model.conductive_coating_required">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">No</span>
        </label>
      </div>
      
      
      <br>
      <span class="form-header">I need to study samples using </span>
      <hr>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="se" [(ngModel)]="model.se">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Secondary Electron Detector (SE)</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="bse" [(ngModel)]="model.bse">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Back Scattered Electron Detector(BSE)</span>
        </label>
      </div>
      <br>
      
      
      <br>
      <span class="form-header">I am interested in</span>
      <hr>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="qma" [(ngModel)]="model.qma">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Qualitative Micro Analysis</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="xem" [(ngModel)]="model.xem">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">X-ray Elemental Mapping</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="ls" [(ngModel)]="model.ls">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Line Scan</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="ascan" [(ngModel)]="model.ascan">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Area Scan</span>
        </label>
      </div>
      
      
      <br>
      <br>
      <div class="form-group">
        <label class="form-header">Any other requirements</label>
        <textarea name="other_requirements" id="textarea" class="form-control" rows="3"
                  [(ngModel)]="model.other_requirements"></textarea>
      </div>
      
      
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.invalid || !dateBooked">Continue</button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <a [routerLink]="['/dashboard']" class="btn btn-default">Cancel</a>
      </div>
    </fieldset>
    <!--<pre>bookingdate: {{dateBooked}}</pre>-->
    <!--<pre>{{f.value | json}}</pre>-->
  
  </form>

</div>
<br>
<br>
<br>
<br>

