<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><b>BookMyLab</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
      
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://iitrprlab.000webhostapp.com/How_To_Use.pdf" routerLinkActive="active">HTU<span
            class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" [routerLink]="['/my-account']" routerLinkActive="active">My account</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
