<br>

<div class="container">
  
  <h3>XRD Lab Reservation</h3>
  <br>
  
  <form name="form" (ngSubmit)="onFormSubmit(f)" #f="ngForm" novalidate>
    
    <app-booking [labNo]="3" (onDateSelected)="onDateSelected($event)"
                 (onSlotSelected)="onSlotSelected($event)"></app-booking>
    
    <fieldset>
      <br>
      <span class="form-header">Sample description</span>
      <hr>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="material">Material name</label>
          <input
            [ngClass]="{'form-control':true, 'is-invalid':material.invalid && (material.dirty || material.touched)}"
            id="material" placeholder="material" name="material"
            [(ngModel)]="model.material" required #material="ngModel">
          
          <div class="invalid-feedback" *ngIf="material.invalid && (material.dirty || material.touched) ">
            <div>
              This field is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-4 form-group">
          <label for="method_preparation">Method of preparation</label>
          <input
            [ngClass]="{'form-control':true, 'is-invalid':method_preparation.invalid && (method_preparation.dirty || method_preparation.touched)}"
            id="method_preparation" placeholder="method of preparation" name="method_preparation"
            [(ngModel)]="model.method_preparation" #method_preparation="ngModel" required>
          
          <div class="invalid-feedback"
               *ngIf="method_preparation.invalid && (method_preparation.dirty || method_preparation.touched) ">
            <div>
              This field is required.
            </div>
          </div>
        </div>
        
        <div class="col-md-4 form-group">
          <label for="scan_angle">Angle of scanning</label>
          <input type="number"
                 [ngClass]="{'form-control':true, 'is-invalid':scan_angle.invalid && (scan_angle.dirty || scan_angle.touched)}"
                 id="scan_angle" placeholder="scan angle" name="scan_angle"
                 [(ngModel)]="model.scan_angle" #scan_angle="ngModel" required>
          
          <div class="invalid-feedback"
               *ngIf="scan_angle.invalid && (scan_angle.dirty || scan_angle.touched) ">
            <div>
              This field is required.
            </div>
          </div>
        </div>
      </div>
      
      
      <br>
      <span class="form-header">Material type</span>
      <hr>
      <div class="form-check form-check-inline d-block my-3">
        <label class="custom-control custom-radio">
          <input name="material_type" type="radio" value="true" class="custom-control-input"
                 [(ngModel)]="model.material_type">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Film</span>
        </label>
        <!--</div>-->
        <!--<div class="form-check form-check-inline">-->
        <label class="custom-control custom-radio">
          <input name="material_type" type="radio" value="false" class="custom-control-input"
                 [(ngModel)]="model.material_type">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Powder</span>
        </label>
      </div>
      
      
      <br>
      <span class="form-header">Tick if toxic</span>
      <hr>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="toxic" [(ngModel)]="model.toxic">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Toxic</span>
        </label>
      </div>
      <br>
      
      
      <br>
      <span class="form-header">Monitoring (Please tick)</span>
      <hr>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="texture" [(ngModel)]="model.texture">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Texture</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="residual_stress"
                 [(ngModel)]="model.residual_stress">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Residual Stress</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="saxs" [(ngModel)]="model.saxs">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">SAXS</span>
        </label>
      </div>
      
      
      <br>
      <br>
      <div class="form-group">
        <span class="form-header">Any other requirements</span>
        <textarea name="other_requirements" id="textarea" class="form-control" rows="3"
                  [(ngModel)]="model.other_requirements"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="f.invalid || !dateBooked">Continue</button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <a [routerLink]="['/dashboard']" class="btn btn-default">Cancel</a>
      </div>
    </fieldset>
    <!--<pre>bookingdate: {{dateBooked}}</pre>-->
    <!--<pre>{{f.value | json}}</pre>-->
  
  </form>

</div>
<br>
<br>
<br>
<br>

