<div>
  <br>
  <h3>All Bookings</h3>
  <br>
  
  <div>
    <form name="form" (ngSubmit)="update(f)" #f="ngForm" novalidate>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">S.NO.</th>
          <th scope="col">User Id</th>
          <th scope="col">Booking Date</th>
          <th scope="col">Start Slot</th>
          <th scope="col">End Slot</th>
          <th scope="col">Status</th>
          <th scope="col">Update Status</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        
        <tbody>
        <tr *ngFor="let data of bookingData; let i = index; trackById" class="thover clickable">
          <th scope="row">{{i+1}}</th>
          <td name="userid">{{data.user_id}}</td>
          <td>{{data.date}}</td>
          <td>{{data.slot_start}}</td>
          <td>{{data.slot_end}}</td>
          <td>{{data.status}}</td>
          <td>
            <div>
              <select class="custom-select">
                <option value="1">Pending</option>
                <option value="2">Approved</option>
                <option value="3">Rejected</option>
                <option value="4">Finished</option>
              </select>
            </div>
          </td>
          <td>{{data.payment_status}}</td>
          <td>
            <button class="btn btn-secondary">Update</button>
          </td>
        </tr>
        </tbody>
      </table>
      
      <!--<pre>{{updateDate|json}}</pre>-->
    </form>
  </div>
</div>
