<br>
<div class="container col-sm-3">
  <h3>Verify your email</h3>
  <br>
  <form name="form" (ngSubmit)="verify(f)" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" placeholder="email" name="email" [(ngModel)]="model.email"
             #email="ngModel" required/>
    </div>
    <div class="form-group">
      <label for="code">Enter verification code</label>
      <input type="password" id="code" class="form-control" name="code" placeholder="verification code"
             [(ngModel)]="model.code"
             #code="ngModel" required/>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="f.invalid">verify</button>
    </div>
  </form>
</div>
