<!--<app-header></app-header>-->
<div class="container">
  <br>
  <div class="card-deck">
    <div class="card">
      <h4 class="card-header">SEM Lab booking</h4>
      <div class="card-body">
        <h4 class="card-title" hidden>SEM Lab booking</h4>
        <p class="card-text">Scanning Electron Microscope</p>
        <a [routerLink]="['/sem-booking']" class="btn btn-primary">Book now</a>
      </div>
    </div>
    
    <div class="card">
      <h4 class="card-header">SPM Lab booking</h4>
      <div class="card-body">
        <h4 class="card-title" hidden>SPM Lab booking</h4>
        <p class="card-text">Scanning Electron Microscope</p>
        <a [routerLink]="['/spm-booking']" class="btn btn-primary">Book now</a>
      </div>
    </div>
    
    <div class="card">
      <h4 class="card-header">XRD Lab booking</h4>
      <div class="card-body">
        <h4 class="card-title" hidden>XRD Lab booking</h4>
        <p class="card-text">X-Ray Diffraction</p>
        <a [routerLink]="['/xrd-booking']" class="btn btn-primary">Book now</a>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  
  
  <h3 style="color: #3153ff;">Previous bookings</h3>
  <br>
  <div>
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Lab Name</th>
        <th scope="col">Date</th>
        <th scope="col">Start Slot</th>
        <th scope="col">End Slot</th>
        <th scope="col">Status</th>
        <th scope="col">Payment Status</th>
      </tr>
      </thead>
      <tbody>
      
      <tr *ngFor="let data of c; let i = index" class="thover clickable" [routerLink]="['/update-sem']">
        <th scope="row">{{i+1}}</th>
        <td>{{data.lab_number}}</td>
        <td>{{data.date}}</td>
        <td>{{data.slot_start}}</td>
        <td>{{data.slot_end}}</td>
        <td>{{data.status}}</td>
        <td>{{data.payment_status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <!--<pre>{{data | json}}</pre>-->
</div>
<br>
<br>

<router-outlet></router-outlet>
