.slot{
  margin: 4px 8px;
  width: 40px;
  float: left;
  border-radius: 4px;
  border-color: #212b35;
  height: 30px;
}

td a.available{
  display:block;
  width:100%;
  border: 1px solid #007bff;
  color: #ccc;
  border-radius: 4px;
  text-decoration: none;
}

td a.selected{
  display:block;
  width:100%;
  border: 1px solid #5CB85C;
  color: #fff;
  background: #5CB85C;
  border-radius: 4px;
  text-decoration: none;
}

td a.blocked{
  display:block;
  width:100%;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  background: #eaeaea;
  cursor: text;
  color: #ccc!important;
  pointer-events: none;
}

.form-header {
  font-size: 1.25em;
  font-weight: 600;
  color: #212b35;
}
